---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Image } from 'astro:assets';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id='skills' class='grid grid-cols-2 w-full gap-32 h-screen pt-16'>
  <div class='h-72'>
    <h2 class='text-7xl text-center rillosta'>{t('skills.title')}</h2>
    <p class='text-3xl pl-5 pochita'>{t('skills.description')}</p>
  </div>
  <div class='w-auto h-1/2 rounded-2xl bg-indigo-900 mr-4 lg:h-3/5 xl:h-11/12 not-lg:h-3/4'>
    <div class='rounded-t-2xl h-8 w-full bg-gray-600 flex'>
      <div class='rounded-4xl m-1 mt-2 ml-1 bg-red-500 w-4 h-4'></div>
      <div class='rounded-4xl m-1 mt-2 ml-1 bg-yellow-500 w-4 h-4'></div>
      <div class='rounded-4xl m-1 mt-2 ml-1 bg-green-500 w-4 h-4'></div>
    </div>
    <span class='text-green-500'>facundoDiaz@root:</span>
    <span class='text-blue-500'>~$</span>
    <span class='text-cyan-500'>.powerups</span>
    <!-- <h3 class='animate-emerald-gradient text-2x1 font-bold text-center pt-1'>{t('skills.title')}</h3> -->
    <div class='animate-frontend-gradient text-2x1 font-bold text-center pt-4 xl:pt-14'>
      <h4>Front-End</h4>
      <div class='overflow-hidden w-full pt-4'>
        <div class='flex gap-4 pt-4 animate-carousel min-w-max'>
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg' alt='HTML5' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg' alt='CSS3' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg' alt='JavaScript' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg' alt='TypeScript' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg' alt='React' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/astro/astro-original.svg' alt='Astro' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original.svg' alt='Vue.js' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=yUdJlcKanVbh&format=png&color=000000' alt='Next.js' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=CIAZz2CYc6Kc&format=png&color=000000' alt='Tailwind.js' />
          <!--  -->
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg' alt='HTML5' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg' alt='CSS3' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg' alt='JavaScript' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg' alt='TypeScript' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg' alt='React' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/astro/astro-original.svg' alt='Astro' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original.svg' alt='Vue.js' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=yUdJlcKanVbh&format=png&color=000000' alt='Next.js' />
          <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=CIAZz2CYc6Kc&format=png&color=000000' alt='Tailwind.js' />
        </div>
      </div>
      <div class='animate-backend-gradient text-2x1 font-bold text-center pt-4 xl:pt-14'>
        <h4>Back-End</h4>
        <div class='overflow-hidden w-full pt-4'>
          <div class='flex gap-4 pt-4 animate-carousel min-w-max'>
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg' alt='Node.js' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original.svg' alt='Express.js' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=9ESZMOeUioJS&format=png&color=000000' alt='NestJS' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=wDKHrGlFU936&format=png&color=000000' alt='SQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=38561&format=png&color=000000' alt='PostgreSQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=UFXRpPFebwa2&format=png&color=000000' alt='MySQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=tBBf3P8HL0vR&format=png&color=000000' alt='MongoDB' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=62452&format=png&color=000000' alt='Firebase' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=cdYUlRaag9G9&format=png&color=000000' alt='Docker' />
            <!--  -->
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg' alt='Node.js' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original.svg' alt='Express.js' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=9ESZMOeUioJS&format=png&color=000000' alt='NestJS' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=wDKHrGlFU936&format=png&color=000000' alt='SQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=38561&format=png&color=000000' alt='PostgreSQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=UFXRpPFebwa2&format=png&color=000000' alt='MySQL' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=tBBf3P8HL0vR&format=png&color=000000' alt='MongoDB' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=62452&format=png&color=000000' alt='Firebase' />
            <Image inferSize={true} class='lg:w-12 max-w-20 xl:w-20' src='https://img.icons8.com/?size=100&id=cdYUlRaag9G9&format=png&color=000000' alt='Docker' />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
